.contact-form {
  padding: 0 2rem 0 2rem;
  display: flex;
  height: auto;
  min-height: 70vh;
  margin-top: 10vh;
  justify-content: space-between;
}
.c-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* padding-top: 5rem; */
  transform-style: preserve-3d;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  backface-visibility: hidden;
}
.c-left > :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: clamp(2rem, 2.5vw + 1rem, 4rem);
}

.c-left > :nth-child(2) {
  color: var(--purplelight);
  font-weight: bold;
  font-size: clamp(3rem, 3.5vw + 1.5rem, 5rem);
}
.c-right {
  display: flex;
  justify-content: center;
  position: relative;
  flex: 1.5;
  /* padding-top: 5rem; */
}
.c-right > form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.c-right .user {
  width: 20rem;
  height: 2rem;
  padding: 0.3rem;
  outline: none;
  border: 2px solid var(--black);
  border-radius: 4px;
  font-size: 16px;
}

textarea {
  height: 4rem !important;
  resize: none;
}

@media screen and (min-width: 1024px) and (max-width: 1224px) {
  .contact-form {
    height: auto;
    min-height: 65vh;
    margin-bottom: 2vh;
    margin-top: 18vh;
  }

  .c-left {
    min-width: 50%;
  }

  .c-left > :nth-child(1)
   {
    font-size: 5vw;
  }

  .c-left > :nth-child(2){
    font-size: 7vw;
  }

  .c-right {
    min-width: 50%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
 .contact-form {
    height: auto;
    min-height: 65vh;
    margin-bottom: 4vh;
    margin-top: 15vh;
  }
}

@media screen and (max-width: 768px) {
  .contact-form {
    flex-direction: column;
    gap: 4rem;
    margin: 4rem 1rem 6rem 1rem;
    height: auto;
  }

  .c-left {
    align-items: center;
    text-align: center;
    padding-top: 2rem;
  }

  .c-left > :nth-child(1)
   {
    font-size: 7vw;
  }

  .c-left > :nth-child(2){
    font-size: 9vw;
  }

  .c-right {
    padding-top: 0;
  }

  .c-right .user {
    height: 2.2rem;
  }

  textarea {
    height: 5rem !important;
  }
}

@media screen and (max-width: 480px) {
  .contact-form {
    padding-top: 0;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    gap: 3rem;
    height: auto;
  }
  .c-right .user {
    width: 16rem;
  }

}
