.contacts {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  background-image: url('../img/cards.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.contacts-container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  min-height: 65vh;
  padding: 2rem 2rem;
  color: white;
  /* font-family: 'Arial', sans-serif; */
  gap: 5px;
  padding-top: 4rem;
  padding-bottom: 4rem;

}

.contacts-left {
  min-height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2px;
  border: 1px solid var(--black);
  border-radius: 8px;
  background: var(--black);
  transition: all 0.5s ease-in-out;
}

.contacts-right {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 2px;
  border: 1px solid rgba(228, 178, 247, 0.319);
  border-radius: 8px;
  background: var(--purple);
  transition: all 0.5s ease-in-out;
}

.portfolio-card,
.description-card {
  padding: clamp(1rem, 2vw + 0.5rem, 2.5rem);
  background: rgba(255, 255, 255, 0.05);
}

.get-in-touch-card,
.start-project-card {
  padding: clamp(1rem, 2vw + 0.5rem, 2.5rem);
}

.portfolio-card {
  flex: 5;
}

.description-card {
  flex: 1;
}

.get-in-touch-card {
  flex: 1;
}

.start-project-card {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section-label {
  display: flex;
  justify-content: space-between;
  font-size: clamp(0.5rem, 1vw + 0.1rem, 0.8rem);
  font-weight: 500;
  opacity: 0.8;
  letter-spacing: 1px;
}

.section-label>span {
  font-size: 1rem;
  font-weight: 500;
}

.section-label h2,
.portfolio-card h2,
.get-in-touch-card h2 {
  font-size: clamp(1rem, 2vw + 0.4rem, 1.7rem);
  font-weight: 400;
  margin: 1.5rem 0;
  line-height: 1.2;
}

.description-card p {
  width: 50%;
  font-size: clamp(0.6rem, 1vw + 0.2rem, 0.8rem);
  opacity: 0.9;
  font-weight: 100;
  line-height: 1.3;
  margin: 0;
}

.start-project-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.start-project-card h1 {
  font-size: clamp(2rem, 3vw + 0.8rem, 3.5rem);
  font-weight: 700;
  margin: 0;
  line-height: 1.1;
}

.contact-btn {
  position: relative;
  width: 8rem;
  display: flex;
  justify-content: space-between;
  background: transparent;
  color: white;
  font-size: clamp(0.9rem, 1.5vw + 0.3rem, 1.1rem);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.contact-btn::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -9px;
  left: 0;
  background-color: var(--purple);
  transition: width 0.3s ease;
  z-index: 50
}

.contact-btn:hover::after {
  width: 100%;
  color: var(--purple);
}


.contacts-right:hover {
  background: rgba(255, 255, 255, 0.567);
  color: #333;
  transition: all 0.5s ease-in-out;
}

.contacts-right:hover * {
  color: #333;
  transition: all 0.5s ease-in-out;
}

.contacts-left:hover {
  background: var(--purpleCard);
  color: rgb(232, 230, 230);
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 768px) {
  .contacts {
    height: 90vh;
  }

  .contacts-container {
    flex-direction: column;
    min-height: auto;
    padding: 2rem;
    margin-top: 2rem;
  }

  .contacts-left,
  .contacts-right {
    padding: 0.5rem;
  }

  .contacts-right {
    margin-bottom: 3rem;
  }

  .portfolio-section h2 {
    font-size: 2rem;
  }

  .get-in-touch h2 {
    font-size: 1.8rem;
  }

  .start-project h1 {
    font-size: 2.5rem;
  }

  .get-in-touch-card {
    flex: 1;
  }

  .start-project-card {
    flex: 2;
    display: flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 480px) {
  
  .contacts-container {
    height: auto;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2rem 0 2rem;
  }

  .contacts-left,
  .contacts-right {
    padding: 0.5rem;
  }

  .portfolio-section h2 {
    font-size: 1.5rem;
  }

  .get-in-touch h2 {
    font-size: 1.4rem;
  }

  .start-project-card h1 {
    font-size: 2rem;
  }

  .contact-btn {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px)and (max-width: 1024px) {
  .get-in-touch-card {
    flex: 2;
  }

  .start-project-card {
    flex: 1;
    flex-direction: column;
  }
}

@media screen and (max-width: 640px) {
  .get-in-touch-card {
    flex: 2;
  }

  .start-project-card {
    flex: 1;
    flex-direction: column;
    gap: 15px;
  }
}