.intro {
  display: flex;
  height: 77vh;
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

.i-center {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.i-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.i-name > :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: clamp(1.8rem, 3vw + 1rem, 3.5rem);
}

.i-name > :nth-child(2) {
  color: var(--purplelight);
  font-weight: bold;
  font-size: clamp(2.2rem, 4vw + 1rem, 5rem);
}

.i-name > :nth-child(3) {
  color: var(--gray);
  font-weight: 400;
  font-size: clamp(12px, 1vw + 0.5rem, 14px);
  margin-top: 15px;
  max-width: 600px;
  line-height: 1.4;
  text-align: center;
}

.i-name span {
  display: inline-block;
}

.exclam {
  color: var(--purple);
  font-size: 3.5rem !important;
  font-weight: bold;
  margin-left: 0.2rem;
}

.threeD-text {
  transform-style: preserve-3d;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  backface-visibility: hidden;
}

@media screen and (max-width: 480px) {
  .intro {
    flex-direction: column;
    height: 30rem;
    gap: 7rem;
  }

  /* .i-name > :nth-child(1) {
    font-size: 2rem;
  }

  .i-name > :nth-child(2) {
    font-size: 2rem;
  } */

  .i-name > :nth-child(3) {
    font-size: 0.85rem;
    width: 100%;
    text-align: center;
  }

  .exclam {
    font-size: 2.2rem !important;
  }
}


@media screen and (max-width: 768px) and (min-width: 480px) {
  .intro {
    flex-direction: column;
    height: auto;
    margin-top: 4rem;
  }

  /* .i-name > :nth-child(1) {
    font-size: 2.8rem;
  }

  .i-name > :nth-child(2) {
    font-size: 4rem;
  } */

  .i-name > :nth-child(3) {
    font-size: 0.9rem;
    width: 100%;
  }

  .exclam {
    font-size: 3rem !important;
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .intro{
    margin-top: 0;
  }

  .i-name > :nth-child(3) {
    font-size: 1rem;
  }
}

