.n-wrapper {
  height: 15vh;
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--bg);
  padding: 0 2rem;
}

.n-left {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.n-name {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 30px;
}

.n-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 400;
}

/* .n-list {
  flex: 5;
} */

.n-list > ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin-right: 3rem;
  
}

.n-list > ul > li {
  overflow: hidden;
  white-space: nowrap;
  font-family: 'Verdana', Geneva, Tahoma, sans-serif;
  font-size: clamp(0.75rem, 2vw, 0.9rem);
  font: 500;
}

.n-list > ul > li:hover {
  cursor: pointer;
  color: var(--purplelight);
}

.n-button {
  display: inline-block;
  padding: 0 1.5rem;
}


.desktop-hamburger span {
  position: relative;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--purplelight);
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
}

.desktop-hamburger:hover {
  color: var(--purple);
}


@media screen and (max-width: 1024px) {
  .n-wrapper {
    flex-direction: row;
    padding: 1rem;
  }

  .n-left {
  
    gap: 1rem;
  }

  .n-right {
   
    justify-content: center;
  }
}

@media screen and (max-width: 950px) {
    
  .n-left{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .n-right {
    display: none;
  }

} 

@media screen and (max-width: 480px) {
  .n-list {
    display: none;
  }
  .n-button {
    display: none;
  }
  .n-left {
    gap: 8rem;
  }
  .n-name {
    width: 100px;
    left: 2.5rem;
  }
}
