.timeline {
  padding: 0 5rem 0 5rem;
}
.tl-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  transform-style: preserve-3d;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  backface-visibility: hidden;
}
.tl-left > :nth-child(1) {
  color: var(--black);
  font-size: clamp(2rem, 3.5vw + 1.5rem, 4rem);
  font-weight: bold;
}

.tl-left > span > :nth-child(1) {
  color: var(--purplelight);
  font-size: clamp(3rem, 4vw + 2rem, 5rem);
  font-weight: bold;
}

.vertical-timeline-element-content {
  box-sizing: border-box;
  box-shadow: var(--smboxShadow);
  padding: 1.5rem 1.5rem !important;
  border-radius: 0px !important;
  border-top: 5px solid var(--purplelight);
  background-color: var(--bg-content);
}

.tl-right h3 {
  font-size: clamp(1rem, 1vw + 0.5rem, 1.2rem);
  font-weight: 700;
  margin: 0 0 0.5rem 0 !important;
  color: rgb(69, 68, 68);
}

.tl-right h5 {
  font-size: clamp(0.8rem, 0.5vw + 0.6rem, 0.8rem);
  font-weight: 600;
  color: var(--black);
  margin: 0 0 0.5rem 0 !important;
}



#description {
  font-size: 13px;
  font-weight: 400;
  color: var(--grayLight);
  text-align: justify;
  font-family: "Verdana", Geneva, Tahoma, sans-serif;

}


@media screen and (max-width: 768px) {
  .tl-left > :nth-child(1),
  .tl-left > :nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .timeline {
    padding: 0 3rem 0 3rem;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .tl-left > :nth-child(1),
  .tl-left > :nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .timeline {
    padding: 0 3rem 0 3rem;
    justify-content: center;
    align-items: center;
  }
}