.timeline {
  padding: 0 2rem 0 2rem;
}
.tl-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  transform-style: preserve-3d;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  backface-visibility: hidden;
}
.tl-left > :nth-child(1) {
  color: var(--black);
  font-size: clamp(2rem, 3.5vw + 1.5rem, 4rem);
  font-weight: bold;
}

.tl-left > span > :nth-child(1) {
  color: var(--purplelight);
  font-size: clamp(3rem, 4vw + 2rem, 5rem);
  font-weight: bold;
}

.vertical-timeline-element-content {
  box-sizing: border-box;
  box-shadow: var(--boxShadow);
  padding: 2rem 2rem !important;
  border-radius: 15px !important;
  filter: brightness(96%);
}

.tl-right h3 {
font-size: clamp(1rem, 1vw + 0.5rem, 1.5rem);
  font-weight: 700;
  margin-bottom: 5px;
  color: rgb(69, 68, 68);
}
.tl-right h5 {
font-size: clamp(0.8rem, 0.5vw + 0.6rem, 1rem);
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--black);
}

#description {
  font-size: 13px;
  font-weight: 400;
  color: var(--gray);
  text-align: justify;
  font-family: "Verdana", Geneva, Tahoma, sans-serif;

}

@media screen and (max-width: 480px) {
  .tl-left > :nth-child(1),
  .tl-left > :nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .timeline {
    padding: 2rem 0.5rem 7rem 0.5rem;
    justify-content: center;
    align-items: center;
  }
}
