.timeline {
  padding: 0 2rem 0 2rem;
}
.tl-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  transform-style: preserve-3d;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  backface-visibility: hidden;
}
.tl-left > :nth-child(1) {
  color: var(--black);
  font-size: 3.5rem;
  font-weight: bold;
}

span > :nth-child(1) {
  color: var(--purplelight);
  font-size: 4.5rem;
  font-weight: bold;
}

.vertical-timeline-element-content {
  box-sizing: border-box;
  box-shadow: var(--boxShadow);
  padding: 2rem 2rem !important;
  border-radius: 15px !important;
}

#description {
  font-size: 13px;
  font-weight: 400;
  color: var(--gray);
  text-align: justify;
}

@media screen and (max-width: 480px) {
  .tl-left > :nth-child(1),
  .tl-left > :nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    scale: 0.85;
  }
  .timeline {
    padding: 7rem 0.5rem 7rem 0.5rem;
    justify-content: center;
    align-items: center;
  }
}
