:root{
  --purple: #623183;
  --purplelight: #7438a5;
  --black: #49526d;
  --gray: #51545e;
  --blueCard: #DDF8FE;
  --purpleultralight: rgb(238, 210, 255);
  --boxShadow: 0px 19px 60px rgba(71, 42, 90, 0.349);
  --purpleCard: rgba(113, 3, 187, 0.295);
  --smboxShadow: -79px 51px 60px rgba(90, 64, 102, 0.185);
  --grayLight: #858b92;
}

.App{
  padding: 0.5rem 2rem;
  overflow: hidden;
  color: var(--black);
  margin: 0;
}
.button{
  border-radius: 34px;
  border: none;
  color: var(--purple);
  font-size: 19px;
  padding: 11px 26px 11px 26px;
  background: white;
  /* box-shadow: 0px 20px 24px 3px rgba(132, 21, 184, 0.42); */
    border: 1px solid var(--purplelight);
}
.button:hover{
  background: var(--purple);
  cursor: pointer;
  color: white;

}
